#titull {
    font-family: 'Vollda', sans-serif;
    font-weight: bold;
}

@font-face {
    font-family: 'Vollda';
    src: url('../fonts/Vollda-Bold.otf') format('truetype');
}


html {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


body {
    background-color: #F3EAD3;
    margin: 0 auto;
    min-height: 100vh; 
}


@media (min-width: 901px) {
    body {
        width: 90%; 
        margin: 0 auto; 
    }
}


@media (max-width: 950px) {
    html {
        background: none; 
    }
    
    body {
        width: 100%; 
        margin: 0; 
    }
}

#frontimage {
    width: 60%;
}

@media (max-width: 768px) {
    #frontimage {
        width: 100%;
    }
}