#titull {
    font-family: 'Vollda', sans-serif;
    font-weight: bold;
   
}


#zagolovok {
    font-family: 'Vollda', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}


@media (max-width: 950px) { 


    #zagolovok { font-size: 1.1em;
    }

}




@font-face {
    font-family: 'Vollda';
    src: url('../fonts/Vollda-Bold.otf') format('truetype');
}


html {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


body {
    background-color: #F3EAD3;
    margin: 0 auto;
    min-height: 100vh;
}


@media (min-width: 901px) {
    body {
        width: 90%; 
        margin: 0 auto; 
    }
}


@media (max-width: 950px) {
    html {
        background: none; 
    }
    
    body {
        width: 100%; 
        margin: 0; 
    }
}

#frontimage {
    width: 60%;
}

@media (max-width: 768px) {
    #frontimage {
        width: 100%;
    }
}

@font-face {
    font-family: 'aa';
    src: url('../fonts/Vollda-Bold.otf') format('truetype');
}
#titul {
font-family: 'aa', sans-serif;
text-align: center;
font-weight: bold;

}

.accordion-collapse {
    background-color: #fffcf4;
}

#citata {
    background-color: #fffcf4;
    
}

#molodezka {

.event-card {
    background: linear-gradient(45deg, #8e44ad, #c0392b);
    color: white;
    border: none;
}
.event-card .btn-light {
    background-color: #ffffff;
    color: #8e44ad;
}
.event-card .btn-light:hover {
    background-color: #f4e1f2;
    color: #8e44ad;
}

}


#church {

   .card-body {

    background: linear-gradient(90deg, #003d3b, #1a5c5a); color: white;

   }
}

.accordion-button  {
    background-color: #fffcf4;
}
.text-justify {
    text-align: justify;
   
}


.gradient-bg {
    background: linear-gradient(90deg, #FF8C00, #FFD700); /* Темнее оттенок градиента */
    color: #ffffff; /* Цвет текста, чтобы контрастировать с фоном */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Плавный переход для ховера */
    cursor: pointer; /* Указатель курсора при наведении */
}

.card-link {
    text-decoration: none; /* Убирает подчеркивание ссылки */
}

.gradient-bg:hover {
    transform: scale(1.05); /* Увеличение карточки при наведении */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Добавление тени */
}




.ylinsta {
    display: flex;
    align-items: center;
    
    background: linear-gradient(45deg, #c13584, #f56040);
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
   
}

.ylinsta i {
    font-size: 24px;
    margin-right: 10px;
}

.ylinsta span {
    font-size: 16px;
}

.ylinsta:hover {
    background: linear-gradient(45deg, #f56040, #c13584);
   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#eventsbanner {
    background-color: #fffaee;
}